---
Checks:          'clang-analyzer-*,bugprone-*,boost-*,concurrency-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-readability-braces-around-statements,-readability-uppercase-literal-suffix,-readability-identifier-length,-readability-magic-numbers,-modernize-avoid-c-arrays,-modernize-use-trailing-return-type,-bugprone-suspicious-include,-bugprone-easily-swappable-parameters,-misc-no-recursion,-readability-redundant-access-specifiers,-readability-implicit-bool-conversion,-readability-function-cognitive-complexity,-readability-else-after-return,-readability-qualified-auto,-bugprone-assignment-in-if-condition,-readability-inconsistent-declaration-parameter-name,-modernize-use-nodiscard,-bugprone-narrowing-conversions,-clang-analyzer-cplusplus.NewDeleteLeaks,-clang-analyzer-cplusplus.NewDelete'
CheckOptions:
  - key:             readability-implicit-bool-conversion.AllowIntegerConditions
    value:           true
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           true
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           true
