---
Checks:
    clang-analyzer-*,
        -clang-analyzer-cplusplus.NewDeleteLeaks,
        -clang-analyzer-cplusplus.NewDelete,
    bugprone-*,
        -bugprone-suspicious-include,
        -bugprone-easily-swappable-parameters,
        -bugprone-assignment-in-if-condition,
        -bugprone-narrowing-conversions,
        -bugprone-switch-missing-default-case,
    concurrency-*,
    misc-*,
        -misc-no-recursion,
        -misc-include-cleaner,
    modernize-*,
        -modernize-avoid-c-arrays,
        -modernize-use-trailing-return-type,
        -modernize-use-nodiscard,
    performance-*,
        -performance-enum-size,
    portability-*,
    readability-*,
        -readability-braces-around-statements,
        -readability-uppercase-literal-suffix,
        -readability-identifier-length,
        -readability-magic-numbers,
        -readability-redundant-access-specifiers,
        -readability-implicit-bool-conversion,
        -readability-function-cognitive-complexity,
        -readability-else-after-return,
        -readability-qualified-auto,
        -readability-inconsistent-declaration-parameter-name,
        -readability-avoid-nested-conditional-operator
CheckOptions:
  - key:             readability-implicit-bool-conversion.AllowIntegerConditions
    value:           true
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           true
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           true
