[submodule "3rdparty/perfparser"]
	path = 3rdparty/perfparser
	url = https://github.com/KDAB/perfparser.git
#        url = git://code.qt.io/qt-creator/perfparser.git
[submodule "3rdparty/PrefixTickLabels"]
	path = 3rdparty/PrefixTickLabels
	url = https://github.com/koenpoppe/PrefixTickLabels
[submodule "3rdparty/fmtparser"]
	path = 3rdparty/fmtparser
	url = https://github.com/fmtparser/fmtparser
